  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

  * {
      margin: 0%;
      padding-left: 0%;
      border: border-box;
      scroll-behavior: smooth;
  }

  .navbar {
      height: 60px;
      background-color: #0f1111;
      color: white;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
  }

  .nav-logo {
      height: 50px;
      width: 130px;
  }

  .logo {
      background: url(./images/amazon_logo.jpg);
      height: 50px;
      width: 100%;
      background-size: cover;
  }

  .border {
      border: 1.5px solid transparent;
  }

  .border:hover {
      border: 1.5px solid white;
      padding: 5px;
  }

  .address p {
      font-size: 0.90rem;
      color: #cccccc;
      margin-left: 15px;
  }

  .add-icon {
      display: flex;
      align-items: center;
  }

  .add-icon p {
      margin-left: 3px;
      font-size: 1rem;
      color: white;
      font-weight: 600;
  }

  /* ### search bar ## */
  .nav-search {
      display: flex;
      justify-content: space-evenly;
      width: 620px;
      height: 40px;
      border-radius: 5px;
  }

  .nav-search:hover {
      border: 2px solid #febd68;
  }

  .search-select {
      border-radius: 5px 0 0 5px;
      text-align: center;
      background-color: #f3f3f3;
      width: 50px;
      border: none;
  }

  .search-input {
      border: none;
      width: 100%;
      font-size: 1rem;
  }

  .search-logo {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      background-color: #febd68;
      border-radius: 0 5px 5px 0;
      color: #0f1111;
  }

  /* ## signin ## */
  .upperH {
      font-size: 0.8rem;
  }

  .lowerH {
      font-size: 1.2rem;
      font-weight: 600;
  }

  /* ## cart ## */

  .nav-cart i {
      font-size: 1.6rem;
  }

  .nav-cart {
      font-size: 1.2rem;
      font-weight: 600;
  }

  /* ## panel ## */
  .panel {
      background-color: #222f3d;
      height: 40px;
      display: flex;
      color: white;
      align-items: center;
      justify-content: space-evenly;
  }

  .panel-opts a {
      text-decoration: none;
  }

  .panel-opts p {
      display: inline;
      font-size: 1rem;
      color: white;
      margin-left: 10px;
  }

  .panel-opts {
      width: 87%;
  }

  /* ## home-section styling ## */
  .home-section {
      background: url(./images/home1.jpg);
      height: 500px;
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: flex-end;
      justify-content: center;
  }

  .home-msg {
      background-color: white;
      color: black;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      width: 90%;
      margin-bottom: 25px;
  }

  .home-msg a {
      color: #007185;
      text-decoration: none;
  }

  .home-msg a:hover {
      text-decoration: underline;
      color: rgb(255, 72, 0);
  }

  /* ## shop section ##  */
  .shop-section {
      display: flex;
      justify-content: space-evenly;
      background-color: #8b87871c;
      flex-wrap: wrap;
  }

  .shop-content {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      margin-top: 10px;
      flex-wrap: wrap;
  }

  .box {
      width: 23%;
      height: 350px;
      margin: 10px;
      background-color: white;
  }

  .box h2 {
      padding: 10px;
  }

  .box .img-content {
      padding: 10px;
  }

  .box img {
      width: 100%;
      background-size: cover;
      object-fit: cover;
  }

  .box a {
      color: #007185;
      padding: 10px;
      text-decoration: none;
  }

  .box a:hover {
      color: rgb(255, 72, 0);
  }

  /* ## footer ## */
  footer {
      margin-top: 15px;
  }

  footer .footer-panel:hover {
      background-color: #4e6683;
  }

  .footer-panel {
      background-color: #37475a;
      color: white;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
  }

  footer a {
      color: white;
      text-decoration: none;
  }

  .footer-p2 {
      background-color: #222f3d;
      color: white;
      height: 400px;
      display: flex;
      justify-content: space-evenly;
  }

  ul p {
      font-size: 1.2rem;
      font-weight: 600;
  }

  ul {
      margin-top: 20px;
  }

  ul li {
      list-style: none;
  }

  ul a {
      display: block;
      font-size: 1rem;
      margin-top: 1rem;
      color: #dddddd;
      text-decoration: none;
  }

  ul a:hover {
      text-decoration: underline;
  }

  .footer-p3 {
      background-color: #222f3d;
      border-top: 0.5px solid white;
      color: white;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .logo2 {
      background: url(./images/transparent\ logo.png);
      height: 50px;
      width: 130px;
      background-size: cover;
  }

  .footer-p4 {
      background-color: #0f1111;
      color: white;
      padding-top: 30px;
      height: 70px;
  }

  .pages,
  .copywrites {
      font-size: 14px;
      text-align: center;
      padding-top: 5px;
  }

  .pages a {
      padding: 3px;
  }

  .pages a:hover {
      text-decoration: underline;
  }

  /* ### Responsive ### */
  @media (max-width: 500px) {
      .navbar {
          height: 25px;
      }

      .nav-logo {
          height: 15px;
          width: 40px;
      }

      .logo {
          background-size: 100%;
          background-repeat: no-repeat;
      }

      .address p {
          font-size: 5px;
          margin-left: 8px;
      }

      .add-icon p {
          font-size: 8px;
          margin-left: 1px;
      }

      .add-icon i {
          font-size: 10px;
          margin-right: 2px;
      }

      /* ### search bar ## */
      .nav-search {
          width: 200px;
          height: 20px;
          margin-left: 2px;
          border-radius: 3px;
      }

      .search-select {
          border-radius: 3px 0 0 3px;
          width: 30px;
          font-size: 10px;
      }
      .search-select option{
        font-size: 10px;
      }
      .search-input {
          font-size: 10px;
      }

      .search-logo {
          font-size: 10px;
          width: 30px;
          border-radius: 0 3px 3px 0;
      }

      /* ## signin ## */
      .upperH {
          font-size: 5.5px;
      }

      .lowerH {
          font-size: 6px;
      }

      .nav-cart i {
          font-size: 10px;
      }

      .nav-cart {
          font-size: 6px;
          font-weight: 400;
      }

      /* ## panel ## */
      .panel {
          height: 25px;
      }

      .panel-opts p {
          font-size: 10px;
          margin-left: 5px;
      }

      .panel-all i {
          font-size: 10px;
      }

      .panel-all span {
          font-size: 10px;
      }

      /* ## home-section styling ## */
      .home-section {
          background-repeat: no-repeat;
          height: 200px;
      }

      .home-msg {
          font-size: 10px;
          text-align: center;
      }

      /* ## shop section ## */
      .box {
          width: 25%;
          max-height: 170px;
      }

      .box h2 {
          font-size: 10px;
      }

      .box a {
          font-size: 10px;
      }

      /* ## footer ## */
      footer {
          margin-top: 10px;
      }

      .footer-panel a {
          font-size: 10px;
      }

      .footer-panel {
          height: 30px;
      }

      .footer-p2 {
          height: auto;
          flex-wrap: wrap;
      }

      ul p {
          font-size: 10px;
      }

      ul a {
          font-size: 8px;
          margin-top: 10px;
      }

      ul {
          width: 100px;
      }

      .footer-p3 {
          height: 50px;
          background-color: #222f3d;
          border-top: 0.1px solid white;

      }

      .logo2 {
          height: 30px;
          background-size: 70%;
          background-repeat: no-repeat;
          background-position: 20px;
      }

      .footer-p4 {
          height: 45px;
          padding-top: 15px;
      }

      .pages,
      .copywrites {
          font-size: 10px;
          padding-top: 3px;
      }
  }

  /* ## responsive 2 ## */
  @media(min-width: 501px) and (max-width: 768px) {
      .navbar {
          height: 40px;

      }

      .nav-logo {
          height: 30px;
          width: 80px;
      }

      .logo {
          height: 30px;
          width: 100%;
          background-size: 90%;
          background-repeat: no-repeat;
          background-position: 2px;
      }

      .address p {
          font-size: 10px;
          margin-left: 15px;
      }

      .add-icon p {
          font-size: 10px;
          margin-left: 5px;
      }

      .add-icon i {
          font-size: 13px;
      }

      /* ### search bar ## */
      .nav-search {
          width: 300px;
          height: 30px;
          border-radius: 4px;
      }

      .search-select {
          border-radius: 4px 0 0 4px;
          width: 40px;
          font-size: 10px;
      }

      .search-input {
          font-size: 10px;
      }

      .search-logo {
          width: 40px;
          border-radius: 0 4px 4px 0;
      }

      /* ## signin ## */
      .upperH {
          font-size: 6px;
      }

      .lowerH {
          font-size: 8px;
      }

      .nav-cart i {
          font-size: 10px;
      }

      .nav-cart {
          font-size: 10px;
          font-weight: 400;
      }

      /* ## panel ## */
      .panel {
          height: 35px;
      }

      .panel-opts p {
          font-size: 12px;
      }

      .panel-all i {
          font-size: 12px;
      }

      .panel-all span {
          font-size: 10px;
      }

      /* ## home-section styling ## */
      .home-section {
          background-repeat: no-repeat;
          height: 280px;
      }

      .home-msg {
          font-size: 10px;
          text-align: center;
      }

      /* ## shop section ## */
      .box {
          height: 230px;
          width: 28%;
      }

      .box h2 {
          font-size: 10px;
      }

      .box a {
          font-size: 10px;
      }

      /* ## footer ## */
      footer {
          margin-top: 10px;
      }

      .footer-panel {
          height: 40px;
      }

      .footer-panel a {
          font-size: 12px;
      }

      .footer-p2 {
          height: auto;
          flex-wrap: wrap;
      }

      ul p {
          font-size: 14px;
      }

      ul a {
          font-size: 12px;
          margin-top: 10px;
      }

      ul {
          width: 120px;
      }

      ul li {
          padding: 1px;
      }

      .footer-p3 {
          height: 60px;
      }

      .footer-p4 {
          height: 55px;
          padding-top: 20px;
      }

      .pages,
      .copywrites {
          font-size: 12px;
          padding-top: 5px;
      }
  }